# Mac extras#
.DS_Store

# Idea Files #
.idea/
.idea/*
*.ipr
*.iml
*.iws
*.ids
workspace.xml
tasks.xml

# Gradle #
.gradle/
.gradle/*

# Compiled Files #
*.class
*/build/*
build/*
*/out/*
out/*
*/target/*

# Package Files #
*.war
*.ear

#Logs
*.log
/classes/
*/logs/*

#JRebel
rebel.xml

#Properties
reloadable-override.properties
application-override.properties

#MANIFEST
*/MANIFEST.MF
MANIFEST.MF
